{% extends 'CaptureVideo/base.html' %}

{% block content %}
  {% csrf_token %}
  <h1>Form Succeed !!</h1>
  <h1>Why don't you start Process ?</h1>
  <form action="" method="POST">
  <form action="{% url 'CaptureVideo:processing' %}" method="POST">
      {% csrf_token %}
      <!-- <input type="submit" name="StartProcessing" value="Start"> -->
      <!-- <button type="submit">Start</button> -->
      <button type="submit" class="btn btn-primary">Start Processing</button>
  </form>
{% endblock %}
