{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Expression</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static  "CaptureVideo/css/style.css" %}">
  </head>
  <body>
    <h1>Form Succeed !!</h1>
    <h2>Input image</h2>
    {% for image in Input %}
      <img src= "{{ image.image.url}}" width=200><br>
    {% endfor %}
    <h2>Output image</h2>
    {% for image in Output %}
      <img src= "{{ image.image.url}}" width=200><br>
    {% endfor %}
    <form action="{% url 'CaptureVideo:test' %}" method="POST">
        {% csrf_token %}
        <!-- <input type="submit" name="StartProcessing" value="Start"> -->
        <!-- <button type="submit">Start</button> -->
        <button type="submit" class="btn btn-primary">完了</button>
    </form>
  </body>
</html>
